<fieldset>
    <legend>Edit Your Article</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='article-title'>Title</label><br>
        <input class='form-control' id='article-title' type='text' name='title' value='{{ article.title }}'/>
    </div>
    <!-- Body -->
    <div class='form-group'>
        <label for='article-body'>Article Body</label><br>
        <textarea class='form-control' id='article-body' type='text' name='body' rows="10" value='{{ article.body }}'></textarea></div>
    
    <!-- AUTHOR -->
    <div class='form-group'>
        <label for='article-author'>Author</label><br>
        <input class='form-control' id='article-author' type='text' name='author' value='{{ article.author }}'/>
    </div>
    

</fieldset>
