{% extends 'base.html' %}

{% block content %}
<h4>Suggestions</h4>

<div class='row'>
    {% for suggestion in suggestions %}
    <div class='col-lg-10'>
        <p><a href='{{ suggestion.url }}'>check it out</a></p>
        <div>{{ suggestion.details }}</div>
    </div>
    {% endfor %}
</div>
<h2>Posts</h2>
<div class='row'>
    {% for article in articles %}
        <div class='col-lg-10'>
            <h2><a href='/articles/{{ article._id }}'>{{ article.title }}</a></h2>
            <article>{{ article.body }}</article>
        </div>
    {% endfor %}
</div>
{% endblock %}
