<!-- Show 1 article and actions to be taken on it -->
{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-slg-10 col-sm-offset-3'>
        <h1>{{ article.title }}</h1>
        <article>{{ article.body }}</article>
        <small class="h6">{{ article.author }}</small>
        <p><a href='/articles/{{ article._id }}/edit'>Edit</a></p>
        <p><form method='POST' action='/articles/{{ article._id }}/delete'>
            <button type='submit'>Delete</button>
        </form></p>

        <hr>
    
        
    </div>
{% endblock %}